<!Doctype Html>  
<Html>
<Head>      
<Title>     
Change the Size of an image using internal CSS  
</Title>  
</Head>   
<Body>  
<form method="GET">
    <div><label>Seed value: <input type="number" name="seed" min = "0"></label></div>
    <div><label>Length scale (number between 0 and 2 up to one decimal): <input type="number" name="lengthscale" step = "0.1" min = "0" max = "2"></label></div>
    <div><label>Variance (number between 0 and 2 up to one decimal): <input type="number"  name="variance" step = "0.1" min = "0" max = "2"></label></div>
    <input type="submit" value="Submit">
</form>
</Body>  
</Html>